{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tugas 8 PPW - Muhammad Salman Al Farisi</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'book/script.js' %}"></script>
</head>

<body>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Pencari Buku</h1>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <input type="text" class="form-control" id="formsearch" placeholder="Masukkan Kata Kunci Disini">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                </table>
            </div>
        </div>

        <div id="result">

        </div>
    </div>

    
</body>

</html>
